
* {
  
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}


.box {
    border: 3px solid red;
    padding: 10px;
    height: 100px; 
    text-align: center;
    line-height: 80px; 
    font-size: 20px;
}



.container {
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: flex-start;
} 


#left-sidebar {
    flex: 0 0 200px;
    min-height: 800px; 
    background-color: #f0f0f0;
    border: 3px solid red;
    padding: 10px;
    text-align: center;
    line-height: initial; 
} 


.content-area {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
} 





#header-row {
    display: flex;
    height: 100px; 
    margin-bottom: 10px; 
    align-items: stretch;
}

.top-box {
    flex: 1;
    height: 100%;
    border-right: 3px solid red; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-box:last-child { 
    border-right: none;
} 


.middle-row {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    align-items: stretch;
}

.middle-row-left {
    flex: 0 0 40%; 
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 220px; 
}

.middle-box {
    width: 100%;
    height: 100px;
    margin-bottom: 0; 
}

#middle-right {
    flex: 1; 
    height: 220px; 
    min-width: 0;
} 


#bottom-row {
    display: flex;
    gap: 10px;
    height: 150px; 
}

#bottom-left {
    flex: 0 0 70%; 
    height: 150px;
}

#bottom-right {
    flex: 0 0 30%; 
    height: 150px;
} 




@media screen and (max-width: 750px) {
    .container {
        flex-direction: column;
    }
    #left-sidebar, 
    .content-area {
        flex: 0 0 auto;
        width: 100%; 
        min-height: initial; 
    }

    #header-row,
    .middle-row,
    #bottom-row {
        flex-direction: column;
        height: auto;
    }

    .top-box,
    .middle-row-left,
    #middle-right,
    #bottom-left,
    #bottom-right {
        flex: 0 0 100%; 
        width: 100%;
        margin: 0 0 10px 0; 
    }
    
    .top-box {
        border-right: 3px solid red;
    }
    
    .middle-box {
        margin-bottom: 10px;
    }
}